@charset "UTF-8";
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  --color-accent: #19bd9a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

b.accent {
  color: var(--color-accent);
}

li {
  list-style: none;
}

p {
  line-height: 1.7;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

nav,
header,
footer,
figure {
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 137px 0;
}

.img {
  vertical-align: middle;
}

.section-header {
  padding-bottom: 60px;
  text-align: center;
}

.section-header__title {
  font-size: 20px;
  color: #333b46;
  font-weight: 700;
  padding-bottom: 28px;
  text-transform: uppercase;
}

.section-header__subtitle {
  font-size: 14px;
  color: #81868e;
  font-weight: 400;
}

.hero {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background: #707070;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-top: -8px;
}

.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-top__item {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-left: 4px;
}

.menu-top__link {
  display: block;
  padding: 10px 19px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: solid 1px transparent;
  border-radius: 20px;
}

.menu-top__link:hover {
  border: solid 1px #fff;
}

.menu-top__burger {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  display: none;
}

.menu-top__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
}

.menu-top__burger span::before, .menu-top__burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-top__burger span::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-top__burger span::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menu-top__burger.active span {
  height: 0;
}

.menu-top__burger.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-top__burger.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-top.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.offer {
  max-width: 52%;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
}

.offer__title {
  font-size: 35px;
  color: #fff;
  padding-bottom: 25px;
}

.offer__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .menu-top {
    position: absolute;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background: #fff;
    top: 10vh;
    left: 50%;
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-top__item {
    color: #333;
    font-size: 20px;
  }
  .menu-top__burger {
    display: block;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .offer {
    max-width: none;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .menu-top {
    left: 0;
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about__inner .badge {
  max-width: 39%;
}

.about__inner .badge__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333B46;
}

.about__inner .badge__text {
  padding: 36px 0 27px;
  font-size: 14px;
  font-weight: 400;
  color: #81868E;
}

.about__inner .badge__btn {
  display: inline-block;
  padding: 8px 30px;
  font-size: 16px;
  color: #333B46;
  border-radius: 20px;
  border: solid 1px #333B46;
}

.about__inner .figure {
  position: absolute;
  right: 0;
}

.about__inner .figure__img {
  vertical-align: middle;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .about .badge {
    max-width: 50%;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .about {
    overflow-x: hidden;
  }
  .about .badge {
    max-width: 80%;
  }
  .about .figure {
    position: absolute;
    right: -30%;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .about .badge {
    max-width: none;
  }
  .about .figure {
    display: none;
  }
}

.details {
  background: #f3f3f3;
}

.details .title {
  font-size: 20px;
  color: #464646;
  font-weight: 700;
  padding-bottom: 30px;
}

.details .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details .article__text {
  font-size: 16px;
  color: #81868e;
  width: 53%;
}

.details .article__text:first-child {
  max-width: 35%;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .details .article {
    margin: 0 -15px;
  }
  .details .article__text {
    width: 50%;
    padding: 0 15px;
  }
  .details .article__text:first-child {
    max-width: none;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .details .article__text {
    width: 100%;
    padding: 15px;
  }
}

.featured ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featured ul li {
  height: 319px;
  width: 33.333%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured ul li:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.featured ul li:hover header {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.featured ul li:hover a {
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.featured ul li a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
}

.featured ul li a img {
  width: 10px;
  height: 10px;
}

.featured ul li header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.685);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.featured ul li header h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}

.featured ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.featured footer {
  background: #17a285;
  background-image: url(../img/featured/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 40px 0;
}

.featured footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.featured footer .row p {
  font-size: 20px;
  color: #fff;
}

.featured footer .row button {
  background: none;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  border: solid 1px #fff;
  cursor: pointer;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .featured ul li {
    height: 200px;
  }
  .featured ul li:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .featured footer .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .featured footer .row button {
    margin-top: 30px;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .featured ul li,
  .featured ul li:nth-child(1) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.services .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .row .col {
  width: 50%;
}

.services .row .col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .row .col:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 79px;
}

.services .row .col:last-child ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .row .col:last-child ul li span {
  padding-top: 20px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #81868e;
}

.services .article .title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.services .article .text {
  margin-top: 30px;
  font-size: 16px;
  color: #81868e;
}

@media (max-width: 991px) {
  .services .row .col:last-child ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .services .row .col:last-child ul li {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .services .row .col:last-child ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .row .col:last-child ul li {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .services .row .col {
    width: 100%;
  }
  .services .row .col:last-child {
    padding: 0;
    padding-top: 40px;
  }
  .services .row .col:last-child ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .services .row .col:last-child ul li {
    text-align: center;
    margin: 0;
  }
}

.quotes {
  padding: 90px 0;
  background: #000;
  background-image: url(../img/quotes/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.quotes .article {
  max-width: 50%;
}

.quotes .article .title {
  font-size: 20px;
  color: #f3f3f3;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.quotes .article .text {
  font-size: 16px;
  color: #b2b3b3;
  margin-bottom: 22px;
}

.quotes .article .signature {
  font-size: 14px;
  text-transform: uppercase;
  color: #b2b3b3;
  display: block;
  line-height: 1.7;
}

.quotes .img {
  position: absolute;
  right: 98px;
  top: -40px;
}

@media (max-width: 991px) {
  .quotes {
    overflow-x: hidden;
  }
  .quotes .article {
    max-width: 70%;
  }
  .quotes .img {
    right: 0;
    top: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media (max-width: 767px) {
  .quotes .article {
    max-width: 90%;
  }
  .quotes img {
    right: 0;
    top: 50%;
    -webkit-transform: translate(80%, -50%);
            transform: translate(80%, -50%);
  }
}

@media (max-width: 575px) {
  .quotes .article {
    max-width: none;
  }
  .quotes img {
    display: none;
  }
}

.team .slider .slides .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .img {
  max-width: 285px;
  max-width: 364px;
}

.team .data {
  width: 375px;
  margin-left: auto;
  text-align: right;
  padding-right: 42px;
}

.team .data__header {
  margin-bottom: 25px;
  position: relative;
}

.team .data__header::before {
  content: "";
  display: block;
  position: absolute;
  right: -42px;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #19bd9a;
}

.team .data__name {
  font-size: 20px;
  color: #464646;
}

.team .data__status {
  font-size: 14px;
  color: #81868e;
  text-transform: uppercase;
  margin-top: 5px;
}

.team .data__text {
  font-size: 14px;
  color: #81868e;
  padding-bottom: 34px;
  text-align: right;
}

.team .skill-data {
  font-size: 16px;
  color: #81868e;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.team .skill-data__level {
  margin-left: auto;
}

.team .skill-data__progress {
  width: 100%;
  height: 6px;
  margin-top: 5px;
}

.team-cta {
  background: #000;
  background-image: url(../img/team/cta-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 0;
  text-align: center;
}

.team-cta .title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
}

.team-cta .btn {
  background: none;
  border: none;
  padding: 8px 30px;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  border: solid 1px #fff;
  cursor: pointer;
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .container {
    max-width: 991px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .container {
    max-width: 767px;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .container {
    max-width: 575px;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .container {
    max-width: none;
  }
}
/*# sourceMappingURL=style.css.map */