.team {
  padding: 90px 0;
  background: #000;
  background-image: url(../img/team/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  
  .article {
    max-width: 50%;
    .title {
      font-size: 20px;
      color: #f3f3f3;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    .text {
      font-size: 16px;
      color: #b2b3b3;
      margin-bottom: 22px;
    }
    .signature {
      font-size: 14px;
      text-transform: uppercase;
      color: #b2b3b3;
      display: block;
      line-height: 1.7;
    }
  }
  .img {
    position: absolute;
    right: 98px;
    top: -40px;
  }
}
@media (max-width: 991px) {
  .team {
    overflow-x: hidden;
    .article{
      max-width: 70%;
    }
    .img {
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}
@media (max-width: 767px){
  .team {
    .article{
      max-width: 90%;
    }
    img {
      right: 0;
      top: 50%;
      transform: translate(80%, -50%);
    }
  }
}
@media (max-width: 575px){
  .team {
    .article{
      max-width: none;
    }
    img {
      display: none;
    }
  }
}