.team {
  .row {
  }
  .slider {
    .slides {
      .slide {
        display: flex;
        align-items: center;
      }
    }
  }
  .img {
    max-width: 285px;
    max-width: 364px;
  }
  .data {
    width: 375px;
    margin-left: auto;
    text-align: right;
    padding-right: 42px;

    // .data__header

    &__header {
      margin-bottom: 25px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        right: -42px;
        top: 0;
        bottom: 0;
        width: 4px;
        background: #19bd9a;
      }
    }

    // .data__name

    &__name {
      font-size: 20px;
      color: #464646;
    }

    // .data__status

    &__status {
      font-size: 14px;
      color: #81868e;
      text-transform: uppercase;
      margin-top: 5px;
    }

    // .data__text

    &__text {
      font-size: 14px;
      color: #81868e;
      text-align: right;
    }

    // .data__skills

    &__skills {
    }

    // .data__skill

    &__skill {
    }
  }
  .skill-data {
    font-size: 16px;
    color: #81868e;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    // .skill-data__name

    &__name {
    }

    // .skill-data__level

    &__level {
      margin-left: auto;
    }

    &__progress {
      width: 100%;
      height: 6px;
      margin-top: 5px;
    }
  }
  &-cta {
    background: #000;
    background-image: url(../img/team/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    text-align: center;

    .title {
      font-size: 20px;
      color: #fff;
      font-weight: 400;
      margin-bottom: 30px;
    }
    .btn {
      background: none;
      border: none;
      padding: 8px 30px;
      font-size: 16px;
      color: #fff;
      border-radius: 20px;
      border: solid 1px #fff;
      cursor: pointer;
    }
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .team {
    .slider {
      .slides {
        .slide {
          position: relative;
          z-index: 2;
        }
      }
    }
    .data {
    }
    .img {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100px;
      height: auto;
    }
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .team {
    .slider {
      .slides {
        .slide {
          justify-content: center;
        }
      }
    }
    .data {
      width: 100%;

      &__text {
        width: 70%;
        margin-left: auto;
      }
    }
    .img {
    }
  }
}
