:root {
  box-sizing: border-box;
  font-size: 100%;

  --color-accent: #19bd9a;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: currentColor;
}
b.accent {
  color: var(--color-accent);
}
li {
  list-style: none;
}
p {
  line-height: 1.7;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
nav,
header,
footer,
figure {
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}

.section-header {
  padding-bottom: 60px;
  text-align: center;
  &__title {
    font-size: 20px;
    color: #333b46;
    font-weight: 700;
    padding-bottom: 28px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 14px;
    color: #81868e;
    font-weight: 400;
  }
}

@import "hero";
@import "about";
@import "details";
@import "featured";

/* xl-размер (>=1200px) */
/* CSS для >=1200px */

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .container {
    max-width: 991px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .container {
    max-width: 767px;
  }
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .container {
    max-width: 575px;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .container {
    max-width: none;
  }
}
