:root{
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: currentColor;
}
li{
  list-style: none;
}
p{
  line-height: 1.7;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section{
  padding: 94px 0;
}

@import "hero";
@import "about";

/* xl-размер (>=1200px) */
/* CSS для >=1200px */

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
  .container{
    max-width: 991px;
  }
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
  .container{
    max-width: 767px;
  }

}

/* sm-размер (<=768px) */
@media (max-width: 767px) { 
  /* CSS для ширины от 576px до 767px */
  .container{
    max-width: 575px;
  }
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .container{
    max-width: none;
  }
}